#include "Debug.xcconfig"

JUNO_DISPLAY_NAME = Juno
PRODUCT_BUNDLE_IDENTIFIER = com.liammagnier.JunoMobile.debug
IPHONEOS_DEPLOYMENT_TARGET = 18.0
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
TARGETED_DEVICE_FAMILY = 1,2
SUPPORTS_MACCATALYST = NO
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
